ol {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

li {
    display: inline-block;
    vertical-align: top;
    border-radius: 15px;
    padding: 20px;
    margin: 2px;
    justify-content:space-evenly;
    background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%);
    
}

.related-words-area {
    border-radius: 15px;
    padding: 20px;
    justify-content:space-evenly;
    background-color: #dbdfee;
    min-height: 400px;
    width: 400px;
    margin-left: 32%;
    margin-right: auto
  }

.translation-area {
    text-align: center;
}

.english-word {
    font-weight: bold;
    font-size: 0.75cm;
}

.arabic-word {
    font-weight: bold;
    font-size: 1cm;
    margin-bottom: 20px;
}
.related-heading {
    margin-bottom: 0;
    color:white;
    background-color: black;
    /* background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%); */
} 