
body {

  background-color: #726cf8;
  background-image: linear-gradient(315deg, #726cf8 0%, #e975a8 74%); 
  font-family: 'Courier New', Courier, monospace;
  
}

.title {
  /* grid-area: header; */
  width:100%;
  background-color: #dbdfee;
  height: min-content;
  justify-content:space-evenly;
  /* border-style: solid;
  border-color: violet; */
  text-align: center;
  font-family:Apple Chancery;

  border-radius: 15px;
  padding: 20px;
}

.sidebar{
  background-color: #dbdfee;
  justify-content:space-evenly;
  grid-area: sidebar;
  border-style: solid;
  border-color: violet;

  border-radius: 15px;
  padding: 20px;
}
.main { 
  display: grid;
  grid-template-columns: 75% 25%;
  grid-template-rows: auto;
  grid-template-areas: 
    "main sidebar";
  justify-content: center;

  width:100%;
  min-height: 1000px;
  height: min-content;
  justify-content:space-evenly;
}
.main-main { 
  grid-area: main;
  height: min-content;
}
.search-area {
  margin: 15px;
  margin-left: 35%;
}
.related_words { 
  border-radius: 15px;
  padding: 20px;
}
 .footer {
  
  background-color: #dbdfee;
  width:100%;
  min-height: 100px;
  height: min-content;
  border-style: solid;
  border-color: violet;
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
  
 }  
.related-words-area {
  border-radius: 15px;
  padding: 20px;
  justify-content:space-evenly;
  background-color: #dbdfee;
  margin-left: 32%;
  margin-right: auto
}
 .container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  
}

.word-prompt {
    border-radius: 15px;
    padding: 20px;
    justify-content:space-evenly;
    background-color: #dbdfee;
    margin-right: 100px;
    

}